@import '../general-styling.scss';

.homepage{

    h1{
        font-family: $header-text;
        font-size: 60px;
        text-align: center;
        color:$blue-color
    }

    .suspectCardList {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-left: 0;
    }

    .suspectCardIndiv{
        flex-basis: 20%;
        display: flex;
        justify-content: center;
    }

    .buttons {
        display: flex;
        align-items: center;
        flex-direction: column;
        .indivButton{
            @include indivButton;
        }
    }
}
