@import '../general-styling.scss';

.personCardList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 0;
}

.child{
    flex-basis: 20%;
    display: flex;
    justify-content: center;
}