@import '../../general/general-styling.scss';

.homepage{

    h1{
        @include h1; 
    }


    .suspectCardList {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-left: 0;
    }

    .suspectCardIndiv{
        justify-content: center;
             text-decoration: none;
             color: $black-color;
         }

    .buttons {
        display: flex;
        align-items: center;
        flex-direction: column;
        .indivButton{
            @include indivButton;
        }
    }
    .pageButtons{
        text-align: center;
    }

    .indivPageButton{
        @include  smallBlueButton;
        margin-left: 25px;
        margin-right: 25px;
        width:220px;
        margin-bottom: 40px;
    }
    .buttonInvisible{
        width:220px;
        @include  smallBlueButton;
        opacity:0.2;
        pointer-events: none;
    }
}
