
@import url("https://fonts.googleapis.com/css?family=Kulim+Park|Montserrat|Rubik&display=swap");

$blue-color: #36619b;
$black-color: #333333;
$white-color: white;
$filter-color: #9dc3e6;
$button-color: #ad3955;

//colors are subject to change

$nav-text:'Kulim Park', sans-serif;
$header-text:'Rubik', sans-serif;
$body-text:'Montserrat', sans-serif;
$button-text:'Montserrat', sans-serif;

$standard-padding: 15px 0;

$phone-breakpoint: 576px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 992px;
$large-desktop-breakpoint: 1200px; 

@mixin indivButton {
    background-color: $button-color;
    color: $white-color;
    border: none;
    text-decoration: none;
    font-family: $button-text;
    font-size: 40px;
    text-align: center;
    margin:10px;
    padding: 5px 0;
    width:500px;
    }


@mixin smallBlueButton {
    color: $white-color;
        font-family: $button-text;
        font-size: 35px;
        padding: 5px;
        padding-left: 10px;
        padding-right: 10px;
        text-decoration: none;
        border-style: solid;
        border-color: $blue-color;
        border-radius: 10px;
        background-color: $blue-color;
}

@mixin h1 {
    font-family: $header-text;
    font-size: 60px;
    text-align: center;
    color:$blue-color

    }

@mixin p {
    font-family: $body-text;
    font-size: 20px;
}