
@import url("https://fonts.googleapis.com/css?family=Kulim+Park|Montserrat|Rubik&display=swap");

$blue-color: #36619b;
$black-color: #333333;
$white-color: white;
$filter-color: #9dc3e6;
$button-color: maroon;

//colors are subject to change

$nav-text:'Kulim Park', sans-serif;
$header-text:'Rubik', sans-serif;
$body-text:'Montserrat', sans-serif;
$button-text:'Montserrat', sans-serif;

$standard-padding: 15px 0;