@import '../general/general-styling.scss';

.loginPage {

    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    
    h1 {
        @include h1;
    }

    label {
        font-family: $button-text;
        font-size: 30px;
        margin: 10px;
        display: block;
    }

    input {
        font-family: $button-text;
        font-size: 25px;
        margin-bottom: 15px;
    }

    .submit
    {
        margin: auto;
        display: block;
        @include smallBlueButton;
    }
}