@import url("https://fonts.googleapis.com/css?family=Kulim+Park|Montserrat|Rubik&display=swap");

$primary-color: #36619b;
$secondary-color: black;
$tertiary-color: white;

$nav-text:'Kulim Park', sans-serif;
$header-text:'Rubik', sans-serif;
$body-text:'Montserrat', sans-serif;
$button-text:'Montserrat', sans-serif;

